菜单
签到   游戏
宠物   副本
月卡   充值


签到
发送签到：可获得50000游戏分


宠物
宠物每天有100点体力值
发送：宠物修炼 可以使用宠物技能(每次消耗10点体力）
指令：升级宠物 可升级宠物


发送我的宠物：查看宠物属性
一级宠物，有百分之十几率获得已损失百分之1一的游戏分
升级条件 500积分
二级宠物  有百分之十五几率获得已损失百分之1一的游戏分
升级条件 50000积分
三级宠物  有百分之二十几率获得已损失百分之1一的游戏分
升级条件 500000积分
四级宠物  有百分之二十五几率获得已损失百分之1一的游戏分
升级条件 1000000积分
五级宠物  有百分之三十几率获得已损失百分之2一的游戏分
升级条件 2000000积分
六级宠物  有百分之三十五几率获得已损失百分之2一的游戏分
升级条件 3000000积分
七级宠物  有百分之四十几率获得已损失百分之3的游戏分
升级条件 5000000积分
八级宠物  有百分之四十五几率获得已损失百分之4的游戏分
升级条件 10000000积分
九级宠物  有百分之五十几率获得已损失百分之4的游戏分
升级条件 20000000积分
十级宠物  有百分之五十几率获得以损失百分之5的游戏分
升级条件 40000000积分
仙级一级宠物  有百分之五十几率获得以损失百分之5的游戏分   百分之二几率获得一亿积分
仙级二级宠物  有百分之五十几率获得以损失百分之5的游戏分   百分之四几率获得一亿积分
仙级三级宠物  有百分之五十几率获得以损失百分之5的游戏分   百分之六几率获得一亿积分
仙级四级宠物  有百分之五十几率获得以损失百分之5的游戏分   百分之八几率获得一亿积分
仙级五级宠物  有百分之五十几率获得以损失百分之5的游戏分   百分之十几率获得一亿积分
仙级六级宠物  有百分之五十几率获得以损失百分之5的游戏分   百分之十二几率获得一亿积分
仙级七级宠物  有百分之五十几率获得以损失百分之5的游戏分   百分之十四几率获得一亿积分
仙级八级宠物  有百分之五十几率获得以损失百分之5的游戏分   百分之十六几率获得一亿积分
仙级九级宠物  有百分之五十几率获得以损失百分之5的游戏分   百分之十八几率获得一亿积分
仙级十级宠物  有百分之五十几率获得以损失百分之5的游戏分   百分之二十几率获得一亿积分
升级均为2亿积分一级
神级宠物
神级宠物一级  有百分之百几率获得以损失百分之五的游戏分   百分之三十几率获得一亿积分  
神级宠物二级  有百分之百几率获得以损失百分之五的游戏分   百分之三十几率获得二亿积分
神级宠物三级  有百分之百几率获得以损失百分之五的游戏分   百分之三十几率获得三亿积分
神级宠物四级  有百分之百几率获得以损失百分之五的游戏分   百分之三十几率获得四亿积分
神级宠物五级  有百分之百几率获得以损失百分之五的游戏分   百分之三十几率获得五亿积分
神级宠物六级  有百分之百几率获得以损失百分之五的游戏分   百分之三十几率获得六亿积分
神级宠物七级  有百分之百几率获得以损失百分之五的游戏分   百分之三十几率获得七亿积分
神级宠物八级  有百分之百几率获得以损失百分之五的游戏分   百分之三十几率获得八亿积分
神级宠物九级  有百分之百几率获得以损失百分之五的游戏分   百分之三十几率获得九亿积分
神级宠物十级  有百分之百几率获得以损失百分之五的游戏分   百分之三十几率获得十亿积分
升级条件
1级10亿
2级30亿
3级60亿
4级100亿
5级200亿
6级300亿
7级400亿
8级500亿
9级800亿
10级1000亿

宠物打工
一级打工1000积分一小时
二级打工2000积分一小时
....
十级打工1万积分一小时

仙级打工
一级打工2万一小时
二级打工4万一小时
...
十级打工20万一小时

神级打工
一小时100万积分
二小时200万积分
...
十级打工千万一小时

每小时可以打工一次
发送宠物下班  即可领取工资





月卡
小月卡
小月卡签到

可获得200万积分
指令 月卡签到 

大月卡
大月卡签到
签到可获得600万积分
指令  大月卡签到

超级月卡
超级月卡签到可获得1500万积分一天
指令  超级月卡签到

月卡可叠加

游戏
刮刮乐
飞禽走兽   
12生肖


充值
10元500万积分
20元2000万积分
50元7000万积分
100元2亿积分

小月卡25元一月
大月卡50元一月
超级月卡100元一月




飞禽走兽
发送飞禽走兽即可开局

押飞禽  一陪二  
押走兽  一赔二

飞禽类
乌鸦  一陪六
孔雀  一陪八
仙鹤  一陪八
老鹰  一陪十二

走兽类
兔子  一陪六
熊猫  一陪八
猴子  一陪八
狮子  一陪十二

银鲨鱼 一陪二十四
金鲨鱼 一陪三十六

押法：如（押银鲨鱼10000000）



12生肖
1-60
每次选出一个大码 10个小码
押中大码一陪六十
押中小码一陪六
押中大码生肖一陪十二
一到三十为小  一陪二
三十一到六十为大 一陪二
生肖对应数字
1 13 25 37 49 鼠
2 14 26 38 50 牛
3 15 27 39 51 虎
4 16 28 40 52 兔
5 17 29 41 53 龙
6 18 30 42 54 蛇
7 19 31 43 55 马
8 20 32 44 56 羊
9 21 33 45 57 猴
10 22 34 46 58 鸡
11 23 35 47 59 狗
12 24 36 48 60 鸡




幸运刮刮乐
有几率获得积分
一次三百万积分
七等奖 100万积分
六等奖 200万积分
五等奖 500万积分
四等奖 1000万积分
三等奖 2000万积分
二等奖 5000万积分
一等奖 1亿积分

七等奖几率百分之24
六等奖几率百分之22
五等奖几率百分之18
四等奖几率百分之15
三等奖几率百分之12
二等奖几率百分之6
一等奖几率百分之3


发送  刮刮乐   即可马上游戏
发送 飞禽走兽  即可马上游戏
发送  生肖     即可马上游戏





充值联系QQ846112812



